*{
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    height: 300px;
    width: 600px;
    text-align: center;
    position: relative;
    border: 1px solid gray;
}

.child-container {
    border: 1px solid gray;
    height: 100px;
    width: 250px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
